
/* -------------------------------- */
.form-field {
    /* flex-direction: column; */
    outline: 1px solid blue;
    position: relative;
    height: 58px;
  
    /* display: flex;
    flex-direction: column; */
    /* margin-bottom: 20px; */
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }
  .form span {
    position: absolute;
                /* display: inline-block; */
    top: 0;
    left: 0;
    margin-top: auto;
                /* font-family: Roboto; */
                /* font-style: normal; */
    font-weight: normal;
    font-size: 12px;
    line-height: calc(14/12);
                /* identical to box height */
    letter-spacing: 0.01em;
  
    color: #757575;
    outline: 1px solid black;
  }
  .form input {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
    padding: 12px 0 12px 83px;
    border-width: 0;
  
    font-size: 16px;
    outline: 1px solid black;
  }
  .form span {
    /* font-family: Roboto; */
    /* font-style: normal; */
    /* font-weight: normal; */
    font-size: 12px;
    line-height: calc(14/12);
    /* identical to box height */
  
    letter-spacing: 0.01em;
  
    color: #757575;
  }
  /* .form-field label{
    margin-bottom: 5px;
  } */
  .form-field input {
    /* width: 100%; */
  
    /* margin: 0;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #2a2a2a */
  
    /* font: inherit;   */
  }
  .form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
  
    /* background-color: green; */
    /* color: rgb(163, 149, 149); */
    /* transition: transform var(--t-cubic); */
  }
  /* .form-input:focus + .form-label, */
  .form-input:not(:placeholder-shown) + .form-label {
    /* color:red; */
    transform: translateY(-40px);
  }
  /* .form-input:focus{
    outline: none;
    border: 2px solid aqua;
  } */
  
  /* .form-input:placeholder-shown{background-color: red;} */
  
  /* .form-field input::placeholder{
        color: #2a2a2a;
        text-align: right;
        
      } */
  .form-icon {
    position: absolute;
    top: 0;
    left: 12px;
  
    /* transform: translateY(-50%); */
  
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: tomato;
  }
  
  /* .form-input:focus~.form-icon{
    background-color: blue;
  } */
  .form-field:focus-within > .form-icon {
    /* padding: 20px; */
    background-color: blue;
  }
  .form-field:focus-within > .form-label {
    transform: translateY(-40px);
  }
  /* --------------------------------------------- */
  .group {
    margin-bottom: 20px;
  }
  .group-title {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .topic-options,
  .xp-options {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .topic-options li {
    display: flex;
    align-items: center;
  }
  .topic-options input[type="checkbox"] {
    /* width: 40px;
    height: 40px; */
  }
  
  .topic-options label {
    font-size: 20px;
    margin-left: 10px;
  }
  
  .form .date {
    /* border-color: red; */
    border-width: 5px;
    border-radius: 15px;
    padding: 20px 40px;
    /* font-size: 40px;
    color: green;
    background-color: blue; */
  }
  .comment {
    padding: 8px;
  }
  .checkbox {
    /* position: absolute; */
    /* top:10px;
    left: 10px; */
  
    /* width: 50px;
    height: 50px; */
  
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  
    border: 2px solid tomato;
    border-radius: 4px;
  }
  .label {
    display: flex;
    align-items: center;
    /* outline: 1px solid black; */
  }
  .checkbox:checked + .icon {
    background-color: orange;
    border: orange;
    background-image: url("../images/icon-c-no-c.svg");
    background-size: contain;
    /* background-origin: content-box; */
  }
  /* from trening index.html about label up 
  
          <!-- <div class="form-field">
          <input class="form-input" type="text" name="name" id="name" placeholder=" "/>
          <label class="form-label" for="name">Имя</label>
          <span class="form-icon"></span>
        </div>
        <div class="form-field">
          <input class="form-input" type="tel" name="tel" id="tel" placeholder=" "/>
          <label class="form-label" for="tel">Телефон</label>          
          <span class="form-icon"></span>    
        </div>
        <div class="form-field">          
          <input class="form-input" type="email" name="mail" id="mail" placeholder=" "/>
          <label class="form-label" for="mail">Почта</label>
          <span class="form-icon"></span>
        </div>  -->

        <!-- <div class="form-field">
          <label for="comment">Комментарий</label>
          <textarea class="comment"
            name="comment" 
            id="comment"
            rows="8"
            placeholder="Введите текст"
            ></textarea>
        </div> -->

       <!-- <div role="groupe" class="group">
          <ul class="topic-options">
            <li>
              <label class="label">
                <input class="checkbox"
                  type="checkbox"
                  name="topic" 
                  value="html"
                >
                <span class="icon"></span>
                HTML
              </label>
            </li>
            <li>
              <label class="label">
                <input class="checkbox"
                  type="checkbox"
                  name="topic" 
                  value="html"
                >
                <span class="icon"></span>
                CSS
              </label>
            </li>
            <li>
              <label class="label">
                <input class="checkbox"
                  type="checkbox"
                  name="topic" 
                  value="html"
                >
                <span class="icon"></span>
                JavaScript
              </label>
            </li>

            <li>
              <input type="checkbox" name="topic" value="css" id="css">
              <label for="css">CSS</label>
            </li>

            <li>
              <input type="checkbox" name="topic" value="js" id="js">
              <label for="js">JavaScript</label>
            </li>
          </ul>
        </div> -->

        <!-- <div role="groupe" class="group">
          <ul class="xp-options">
            <li>
              <input type="radio" name="xp" value="junior" id="junior">
              <label for="junior">junior</label>
            </li>
            <li>
              <input type="radio" name="xp" value="middle" id="middle">
              <label for="middle">middle</label>
            </li>
            <li>
              <input type="radio" name="xp" value="senior" id="senior">
              <label for="senior">senior</label>
            </li>
          </ul>

        </div>

        <div class="form-field">
          <label for="date">Дата доклада</label>
          <input type="date" name="date" id="date" class="date"/>
        </div>

        <div class="form-field">
          <label for="pdf">Load pdf</label>
          <input type="file" name="pdf" id="pdf" />
        </div>

        
        <div class="form-field">
          <input type="checkbox" name="policy" id="policy">
          <label for="policy">Соглашаюсь на всё, за еду</label>
        </div>
        <br />
        <button type="submit">Отправить</button> -->
  */